<!DOCTYPE html>
<html>
<head>
  <title>Partner Management</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }

    form {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    textarea {
      height: 100px;
    }

    button {
      background-color: #fe4066;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
    }

    button:hover {
      background-color: #fe4066;
    }

    .partner-list {
      list-style-type: none;
      padding: 0;
    }

    .partner-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
    }

    .partner-item:last-child {
      border-bottom: none;
    }

    .partner-item .partner-info {
      flex-grow: 1;
      margin-right: 10px;
    }

    .partner-item h3 {
      margin: 0;
    }

    .partner-item p {
      margin: 5px 0 0;
    }

    .partner-item button {
      background-color: #fe4066;
    }

    .partner-item button:hover {
      background-color: #c2484a;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Partner Management</h1>

    <!-- Add Partner Form -->
    <form action="/partners" enctype="multipart/form-data" method="POST">
 
      <label for="partnerName">Partner Name</label>
  <input type="text" id="partnerName" required name="partnerName">

  <label for="description">Description</label>
  <textarea id="description" required name="description"></textarea>

  <label for="clientName">Client Name</label>
  <input type="text" id="clientName" required name="clientName">

  <label for="companyurl">Company URL</label>
  <input type="text" id="companyurl" required name="companyurl">

  <!-- Other form fields... -->
      <button type="submit">Add Partner</button>
    </form>
    


    <!-- Partner List -->
    <!-- <ul class="partner-list">
      <li class="partner-item">
        <div class="partner-info">
          <h3>Partner Name</h3>
          <p>partner@email.com</p>
        </div>
        <button>Delete</button>
      </li>
      <li class="partner-item">
        <div class="partner-info">
          <h3>Partner Name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <button>Delete</button>
      </li>
    
    </ul> -->
  </div>
</body>
</html>
